---
title: "Is there a path to Gamification of Verification?"
date: 2026-04-08T16:11:36-0700
draft: false
description: ""
tags: []
categories: ["Thoughts"]
ShowToc: true
TocOpen: false
ShowReadingTime: true
ShowBreadCrumbs: true
ShowPostNavLinks: true
ShowWordCount: true
---

Programming used to be a _generative_ process. The act of creation & _generation_ enabled an entry into the state of flow, when the difficulty of the task acutely matched with the skill of the developer. This state is naturally and intrinsically rewarding.

The same concept applies to writing.

Reviewing or editing - be it code, text, or other - is a _verification_ process. Every step is a blockade that creates friction and interruptions. It prevents the ability of getting into a state of flow. In turn, it is not rewarding from a natural and intrinsic point of view, but only as a means to an end where the result may be rewarding.

One paper from 2025 references the infamous book by Mihaly Csikszentmihalyi on Flow:

> From a theoretical standpoint, verification burden disrupts cognitive flow by introducing frequent interruptions [36]. This undermines users’ sense of immersion and engagement, thereby impeding trust in tools [107].

In a world of agentic coding, _verification_ becomes the main activity of software engineers.

Even if we avoid the disruption of life, work, or the urge to always kick off another agent to _generate_ something, even if we are only focused on _verifying_ one task at a time, can flow be achieved?

_Verification_ is rewarding because it can be a means to a good end. But, can we gamify it? **Can we make verification fun?**

I'm not going to present an answer here, but have a gut feeling that there might be lessons to learn from games. Those who work on QA at gaming studios treat it as a job, but also have fun doing it.

For software, will it be a new UX? A new modality? Completely automated away?

Do software developers become artists who sculpt code? Orchestrators who direct code? Soldiers who command code? Architects who envision systems of code? Gardeners who tend to code? Sitters who nurture code?

Maybe we become gamers who simply play with code?

---

[1] **What Needs Attention? Prioritizing Drivers of Developers’
Trust and Adoption of Generative AI** (2025); *https://arxiv.org/abs/2505.17418*
[2] **Flow: The Psychology of Optimal Experience** (1990); *https://www.amazon.com/Flow-Psychology-Experience-Perennial-Classics/dp/0061339202*
